.login-block {
    width: 350px;
    height: 300px;

    background-color: #fff;
    box-shadow: 0px 32px 64px rgba(0, 0, 0, 0.05);;

    position: absolute; 
    left: 0; 
    right: 0;
    top: 120px;
    margin-left: auto; 
    margin-right: auto; 
    width: 350px; /* Need a specific value to work */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding: 10px 10px;

}

.login-block input {
    border: 1px solid #c2c6ce;
    border-radius: 5px;
    padding: 5px 10px;

    margin-bottom: 15px;
    height: 60px;
    width: 100%;
}

.login-block .login-title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 15px;
}

.login-block .login-title span {
    width: calc(50%);
    text-align: center;
    padding-bottom: 10px;
}


.login-block .login-title span.underline {
    border-bottom: #FFBD00 2px solid;
    font-weight: 600;
}

.login-block button {
    height: 40px;
    width: 100%;

    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;

    background-color: #FFBD00;

    margin-bottom: 20px;
}

.red {
    color: #ff0000;
}