/* Собственно сам слайдер */
.products-slider{
    position: relative;
}
/* Картинка мастабируется по отношению к родительскому элементу */
.products-slider .slider-item img {
    object-fit: cover;
    width: 100%;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.products-slider .prev, .products-slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.products-slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* При наведении на кнопки добавляем фон кнопок */
.products-slider .prev,
.products-slider .next {
    background-color: #fff;
    color: #000;
}

.products-slider .prev:hover,
.products-slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}
/* Заголовок слайда */
.slideText {
    position: absolute;
    color: #fff;
    font-size: 35px;
    /* Выравнивание текста по горизонтали и по вертикали*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* Тень*/
    text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.main-grid .products-slider-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 150px; /* Need a specific value to work */
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Кружочки */
.slider-dots {
    text-align: center;
}
.slider-dots_item{
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active-slider,
.slider-dots_item:hover {
    background-color: #febd01;
}
/* Анимация слайдов */
.products-slider .slider-item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}